@charset "UTF-8";

header {
    text-align: center;    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #106617,#2F6634);
    color: white;
}

header > h1 {
    margin: 0px 15px 20px 25px;
    padding: 40px 0px 0px 0px;
}

header > nav {
    padding: 10px;
    text-align: left;
}

nav > a {
    text-decoration: none;
    padding: 5px;
    color: rgb(181, 224, 181);
    font-weight: bold;
 
}

header > nav > a:hover {
    color: black;
    border-radius:50%;
    background-color: rgb(151, 197, 151);
}

body{
    background-color: antiquewhite;
}

main{
    background-color: white;
    height: auto;
    width: 800px;
    padding: 1px 20px 10px 20px;
    margin: auto;
    
}

#h2first{
    background-image: linear-gradient(to right, #82e68b,#daffdd,white);

}

#h2second{
    background-image: linear-gradient(to right, #82e68b,#daffdd,white);
}

#bugdroid{
    display: block;
    margin: auto;
}





main > p {
    text-indent: 30px;
    text-align: justify;
    line-height: 30px;    
}

section {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 800px;
    padding: 1px 20px 10px 20px;
    margin: auto;    
}

section > p{
    text-indent: 30px;
    text-align: justify;     
}

#learnmore{
    background-color: rgba(29, 107, 55, 0.699);
    color: white;
    padding: 5px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

#secondfloor{
    background-color: rgb(208, 252, 212);
    height: auto;
    width: 760px;
    padding: auto;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

footer {
    text-align: center;
    background-color: rgb(0, 26, 0);
    color: white;
    padding: 5px;
}